
    {% extends "base.html" %}
    {% load staticfiles %}
    
    
    {& block title &} Encuentranos{& endblock &}
    
    
    
    {% block content  %}   
    
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg= "{% static 'img/page-top-bg/4.jpg' %}">
        <div class="page-info">
            <h2>Registro de usuario</h2>
            <div class="site-breadcrumb">
                <a href="">Retro store</a>  /
                <span>Registro de usuario</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->
    
    
    
     <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 order-1 order-lg-1 text-white">
                    {% if validlink%}
                    <p>Porfavor escribe y confirma tu nueva contraseña</p>
                        <form action="" method="POST">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

                            <table>
                                <tr>
                                    <td> {{ form.new_password1.erros }} </td>
                                        <label for="id_new_password1"></label>
                                    <td> {{ form.new_password1 }} </td>

                                </tr>
                                <tr>
                                    <td> {{ form.new_password2.erros }} </td>
                                        <label for="id_new_password2"></label>
                                    <td> {{ form.new_password2 }} </td>
                                </tr> 
                                <tr>
                                    <td></td>
                                    <td>
                                            <button id="log" type="submit" value="Cambiar la contraseña" class="site-btn">Cambiar la contraseña<img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    {% else %}
                        <h1>Ha fallado el cambio de contraseñas.</h1>
                        <p>El link de cambio de contraseña es invalido, posiblemente ya fue utilizado. Por favor, pide un nuevo cambio de contraseña.</p>
                    {% endinf %}   
                    </div>      
                
            </div>
        </div>
    </section>
     
    {% endblock %}  